# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [14]:
cars1 = pd.read_csv('cars1.csv', index_col=0, sep=',')

In [3]:
cars2 = pd.read_csv('cars2.csv', index_col=0, sep=',')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [15]:
cars1.dropna(how='all', axis=1, inplace=True)

### Step 5. What is the number of observations in each dataset?

In [16]:
print(cars1.shape)
print(cars2.shape)

(198, 8)
(200, 8)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [20]:
cars = pd.concat([cars1, cars2], ignore_index=True)
# cars.shape

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [ ]:
# cars['owners'] = np.random.randint(15000, high=73001, size=398)
cars['owners'] = cars.apply(lambda x: np.random.randint(15000, 73001), axis=1)

# cars.head()

,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,59947
1,8,350,165,3693,11.5,70,1,buick skylark 320,38359
2,8,318,150,3436,11.0,70,1,plymouth satellite,19842
3,8,304,150,3433,12.0,70,1,amc rebel sst,54674
4,8,302,140,3449,10.5,70,1,ford torino,70586

### Step 8. Add the column owners to cars

In [ ]:
## o de cima