# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [33]:
baby_names = pd.read_csv('US_Baby_Names_right.csv', sep=',')

### Step 4. See the first 10 entries

In [36]:
baby_names.head(10)

       Name  Year Gender State  Count
0      Emma  2004      F    AK     62
1   Madison  2004      F    AK     48
2    Hannah  2004      F    AK     46
3     Grace  2004      F    AK     44
4     Emily  2004      F    AK     41
5   Abigail  2004      F    AK     37
6    Olivia  2004      F    AK     33
7  Isabella  2004      F    AK     30
8    Alyssa  2004      F    AK     29
9    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [35]:
baby_names.drop(baby_names.columns[[0, 1]], axis=1, inplace=True)

### Step 6. Is there more male or female names in the dataset?

In [37]:
# print("F" in baby_names if (baby_names['Gender'] == 'F').count  (baby_names['Gender'] == 'M').count else False)

if baby_names['Gender'].value_counts()['F'] > baby_names['Gender'].value_counts()['M']:
    print('Female')
else:
    print('Male')

Female

### Step 7. Group the dataset by name and assign to names

In [64]:
names = baby_names.groupby('Name')['Count'].sum()
# names

### Step 8. How many different names exist in the dataset?

In [85]:
names.size

17632

### Step 9. What is the name with most occurrences?

In [66]:
names = names.sort_values(ascending=False)
nome, valor = names.iloc[0:1].index[0], names.iloc[0]

print(f"Nome: {nome}, Valor: {valor}")

Nome: Jacob, Valor: 242874

### Step 10. How many different names have the least occurrences?

In [71]:
 names[names == names.min()]

Name
Zymari      5
Zykierra    5
Dhyan       5
Dhwani      5
Jleigh      5
           ..
Abigaile    5
Shatha      5
Zykeriah    5
Zunaira     5
Ezel        5
Name: Count, Length: 2578, dtype: int64

### Step 11. What is the median name occurrence?

In [72]:
names[names == names.median()]

Name
Kaedence    49
Leylanie    49
Nabeel      49
Caleah      49
Nassir      49
            ..
Kynsley     49
Fay         49
Maurilio    49
Mariann     49
Baily       49
Name: Count, Length: 66, dtype: int64

### Step 12. What is the standard deviation of names?

In [ ]:
names.std()

np.float64(11006.069467890571)

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [74]:
names.describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64